<%- messages() %>

<% if (locals.errors) { %>
    <div class="notice">
        <ul>
            <% errors.array().forEach(error => { %>
                <li><%= error.msg %></li>
            <% }) %>
        </ul>
    </div>
<% } %>

<div class="account-container">
    <h1><%= title %></h1>
    <p>You're logged in</p>
</div>
