/****** CSS Variables ***************/
:root{
  --primary-color: #01161e; 
  --secondary-color: #124559; 
  --accent1-color: #598392; 
  --back-color: white;
  --heading-font: "Bebas Neue", sans-serif;
  --body-font: "Source Sans 3", sans-serif;
}

/******* Change Box Model ***************/
*,
*:before,
*:after {
  box-sizing: border-box;
}

/******* Body Styles ***************/
body {
  font-family: var(--body-font);
  background-color: var(--back-color);
  color: var(--primary-color);
  margin: 0;
}

#wrapper {
  max-width: 760px;
  margin: 0 auto;
  padding: 0;
  background-color: var(--back-color);
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--heading-font);
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--primary-color);
  padding: 1rem 0;
}

header a {
  text-decoration: none;
  color: var(--primary-color);
}

.siteName {
  font-family: var(--heading-font);
  font-size: 3rem;
  margin-left: 1rem;
}

#tools {
  margin-right: 1rem;
}

nav {
  background-color: var(--primary-color);
  color: var(--back-color);
  padding: 0.5rem 0;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: space-evenly;
  padding: 0;
  margin: 0;
}

h1 {
  margin: 1rem;
}

.car-showcase {
    position: relative;
    overflow: hidden;
}

.car-showcase img {
    width: 100%;
    height: auto;
    display: block;
}

.overlay-card {
    position: absolute;
    overflow: visible;
    top: 10%;
    left: 4%;
    z-index: 5;
    background-color: rgba(255, 255, 255, 0.8);
    color: var(--secondary-color);
}

.overlay-card h2, .overlay-card p {
    margin: 0.2rem 0.5rem;
}

.overlay-card img {
    width: 150px;
    height: auto;
}

.car-info {
    display: flex;
    flex-direction: column-reverse;
    padding: 0.5rem;
}

.upgrades-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    padding: 1rem;
}

.upgrade-item {
  text-align: center;
}

.upgrade-item div{
    border: 1px solid var(--accent1-color);
    padding: 0.5rem;
    background-color: var(--accent1-color);
}

.upgrade-item img {
    width: auto;
    height: 50px;
  }

.reviews-list li{
  padding: 0.5rem 0;
}

@media (min-width: 760px) {
  body {
    background: url('/images/site/small_check.jpg') repeat;
  }
    
  #wrapper {
    margin: 1rem auto;
    border: 5px solid var(--secondary-color);
    border-radius: 10px;
  }

  .car-info {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0.5rem;
  }

  .reviews-list {
    padding: 1rem;
  }
}