<%- messages() %>

<% if (errors) { %>
  <div class="notice">
    <ul>
      <% errors.array().forEach(error => { %>
        <li><%= error.msg %></li>
      <% }) %>
    </ul>
  </div>
<% } %>

<div class="form-container">
  <h1><%= title %></h1>

  <form action="/inv/add-classification" method="post" class="inventory-form">
    <label for="classification_name">Classification Name (no spaces or special characters):</label>
    <input type="text" id="classification_name" name="classification_name" required pattern="^[A-Za-z0-9]+$" title="No spaces or special characters allowed" value="<%= classification_name ? classification_name : '' %>">

    <button type="submit">Add Classification</button>
  </form>
</div>
