<%- messages() %>

<% if (locals.errors) { %>
    <div class="notice">
        <ul>
            <% errors.array().forEach(error => { %>
                <li><%= error.msg %></li>
            <% }) %>
        </ul>
    </div>
<% } %>

<div class="management-container">
    <h1><%= title %></h1>

    <div class="management-links">
        <a href="/inv/add-classification">Add New Classification</a>
        <a href="/inv/add-inventory">Add New Vehicle</a>
    </div>
</div>